.logo {
    width: 40px;
    height: 40px;
    margin: 0;
    @media (min-width: 376px) {
        padding: 0 0 0 15px;
    }
    @media (min-width: 768px) {
        padding: 45px 0 0 55px;
    }
    img {
        width: 40px;
        height: 40px;
        margin: 0;
    }
}