.crew {
    @media (min-width: 376px) {
        display: flex;
        flex-direction: column-reverse;
    }
    @media (min-width: 768px) {
        flex-direction: row-reverse;
        height: calc(100vh - 275px);
        width: 100vw;
        justify-content: space-between;
    }
    
    .crew-picture {
        width: 177.12px;
        height: 222px;
        margin: 0;
        top: 4px;
        object-fit: contain;
        object-position: center bottom;
        filter: brightness(1.2);
        @media (min-width: 376px) {
            width: 456.37px;
            height: unset;
            margin-top: 38px;
        }
        @media (min-width: 768px) {
            width: unset;
            height: 100%;
            margin: 0 137px 0 0;
        }
    }
    .datas-crew-wrapper {
        @media (min-width: 376px) {
            display: flex;
            flex-direction: column-reverse;
        }
        @media (min-width: 768px) {
            width: fit-content;
            display: flex;
            justify-content: start;
            padding-left: 165.5px;
            gap: 120px;
        }
    }
    .crew-nav {
        width: 100vw;
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
            width: fit-content;
        }
        ul  {
            width: 88px;
            display: flex;
            justify-self: center;
            justify-content: space-between;
            padding: 0;
            list-style: none;
            @media (min-width: 768px) {
                gap: 24px;
                height: fit-content;
                margin: 0;
                li {
                    height: fit-content;
                }
            }
            input {
                &[type='radio'] {
                    padding: 0;
                    margin: 14px 0 0 0;
                    appearance: none;
                    border: none;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #979797;
                    @media (min-width: 768px) {
                        width: 15px;
                        height: 15px;
                        margin: 0;
                    }
                    cursor: pointer;
                    &:checked {
                        border-bottom: 3px solid white;
                        background: white;
                        padding-bottom: 8px;
                        cursor: pointer;
                        width: 11px;
                        height: 11px;
                        @media (min-width: 768px) {
                            width: 16px;
                            height: 16px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .separation-line {
        @media (min-width: 376px) {
            display: none;
        }
    }
    .infos-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 14px 0 0 0;
        span {
            margin-bottom: 8px;
            font-size: 16px;
            font-family: 'Bellefair', serif;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFF;
            opacity: 0.5;
        }
        h1 {
            margin-bottom: 16px;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 28px;
            font-weight: normal;
        }
        @media (min-width: 376px) {
            span {
                font-size: 24px;
                line-height: 28px;
            }
            h1 {
                font-size: 40px;
                line-height: 46px;
            }
            p {
                padding: 0 155px;
                margin: 0 0 10px 0;
            }
        }
        @media (min-width: 768px) {
            span {
                font-size: 32px;
                line-height: 37px;
                text-align: left;
                margin-top: 104px;
            }
            h1 {
                font-size: 56px;
                line-height: 64px;
                text-align: left;
            }
            p {
                font-size: 18px;
                line-height: 32px;
                max-width: 444px;
                padding: 0;
                margin: 0 0 10px 0;
                text-align: left;
                height: 160px;
            }
        }
    }
}