img {
    width: 170px;
    height: 170px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 12px;
}
.destination-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 26px;
    list-style: none;
    padding: 0 69px;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    margin-bottom: 20px;
    .planet-links {
        color: #D0D6F9;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        &:hover {
            border-bottom: 3px solid white;
            color: white;
            padding-bottom: 8px;
        }
    }
}
h1 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 400;
    color: white;
    line-height: 64px;
    margin: 0;
    text-align: center;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.7px;
    line-height: 19px;
    text-align: center;
    color: white;
    margin: 0 0 32px 0;
    .number {
        font-weight: 500;
        margin-right: 18px;
        filter: opacity(0.25)
    }
}
p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #D0D6F9;
    padding: 0 24px;
    margin: 0 0 32px 0;
}
.separation-line {
    border-top: 1px solid #383B4B;
    margin: 0 24px;
}