@import url(./pages/destination.scss);
@import url(./fonts.scss);
@import url(./pages/home.scss);
@import url(./pages/crew.scss);
@import url(./pages/technology.scss);
@import url(./components/nav.scss);
@import url(./reset-styles.scss);
@import url(./components/logo.scss);
@import url(./components/credits.scss);
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    &.bg-technology, &.bg-destinations {
        // @media (min-height: 375px) {
        //     h2 {
        //         margin-bottom: 0;
        //     }
        // }
        // @media (min-height: 813px) {
        //     h2 {
        //         margin-bottom: 0;
        //     }
        // }
    }
    &.bg-home {
        @media (max-height: 768px) {
            height: fit-content;
        }
    }
    @media (max-width: 375px) {
        background-image: url(../../public/assets/home/background-home-mobile.jpg);
        object-position: center;
        background-position: top;
        background-size: cover;
        &.bg-destinations {
            background-image: url(../../public/assets/destination/background-destination-mobile.jpg);
        }
        &.bg-crew {
            background: url(../../public/assets/crew/background-crew-mobile.jpg);
        }
        &.bg-technology {
            background-image: url(../../public/assets/technology/background-technology-mobile.jpg);
        }
    }
    @media (min-width: 376px), (max-width: 768px) {
        background-image: url(../../public/assets/home/background-home-tablet.jpg);
        background-position: top;
        background-size: cover;
        header {
            padding: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &.bg-destinations {
            background-image: url(../../public/assets/destination/background-destination-tablet.jpg);
        }
        &.bg-crew {
            background: url(../../public/assets/crew/background-crew-tablet.jpg);
        }
        &.bg-technology {
            background-image: url(../../public/assets/technology/background-technology-tablet.jpg);
            background-size: cover; 
        }
    }
    @media (min-width: 769px) {
        background-image: url(../../public/assets/home/background-home-desktop.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        &.bg-destinations {
            background-image: url(../../public/assets/destination/background-destination-desktop.jpg);
        }
        &.bg-crew {
            background: url(../../public/assets/crew/background-crew-desktop.jpg);
            background-size: cover;
        
        }
        &.bg-technology {
            background-image: url(../../public/assets/technology/background-technology-desktop.jpg);      
        }
    }
}
::-webkit-scrollbar {
    display: none;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.7px;
    line-height: 19px;
    text-align: center;
    color: white;
    margin: 0 0 32px 0;
    .number {
        font-weight: 500;
        margin-right: 18px;
        filter: opacity(0.25)
    }
    @media (min-width: 376px) {
        margin: 40px 0 32px 0;
        text-align: left;
        padding: 0 0 28px 38.5px;
    }
    @media (min-width: 768px) {
        padding: 0 0 28px 168.5px;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
    }
}
h1 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 400;
    color: white;
    line-height: 64px;
    margin: 0;
    text-align: center;
    @media (min-width: 376px) {
    font-size: 80px;
    line-height: 92px;

    }
}
p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #D0D6F9;
    padding: 0 24px;
    margin: 0 0 32px 0;
    @media (min-width: 376px) {
        font-size: 16px;
        line-height: 28px;
        margin: 8px 0 49px 0;
    }
}