@import url(./pages/destination.scss);
@import url(./fonts.scss);
@import url(./pages/home.scss);
@import url(./pages/crew.scss);
@import url(./components/nav.scss);
@import url(./reset-styles.scss);
@import url(./components/logo.scss);
body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 375px) {
        background-image: url(../../public/assets/home/background-home-mobile.jpg);
        &.bg-destinations {
            background-image: url(../../public/assets/destination/background-destination-mobile.jpg);
        }
        &.bg-crew {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../../public/assets/crew/background-crew-mobile.jpg);
        }
        &.bg-technology {
            background-image: url(../../public/assets/technology/background-technology-mobile.jpg);
        }
    }
    @media (max-width: 768px) {
        background-image: url(../../public/assets/home/background-home-tablet.jpg);
        header {
            padding: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &.bg-destinations {
            background-image: url(../../public/assets/destination/background-destination-tablet.jpg);
        }
        &.bg-crew {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../../public/assets/crew/background-crew-tablet.jpg);
        }
        &.bg-technology {
            background-image: url(../../public/assets/technology/background-technology-tablet.jpg);
        }
    }
    @media (min-width: 769px) {
        background-image: url(../../public/assets/home/background-home-desktop.jpg);
        &.bg-destinations {
            background-image: url(../../public/assets/destination/background-destination-desktop.jpg);
        }
        &.bg-crew {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../../public/assets/crew/background-crew-desktop.jpg);
        }
        &.bg-technology {
            background-image: url(../../public/assets/technology/background-technology-desktop.jpg);
        }
    }
}
::-webkit-scrollbar {
    display: none;
}